<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preventive health.</title>
</head>
<body style="background-color: rgb(175, 228, 230);">
    <h1 style="text-align: center; color: blue;">Preventive Health</h1>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Everything you do today—the food you eat, the exercise you choose, your sleep, stress, and personal 
        time (or lack thereof)—all affect your future health. It’s called preventive health care, and for women, it’s very important to consider.
        </p>
        <video width="500" height="300" controls>
            <source src="yt5s.com-Preventive Health Care- Women's Health Ages 35-50.mp4" type="video/mp4">
            <source src="yt5s.com-Preventive Health Care- Women's Health Ages 35-50.mp4" type="video/health">
          Your browser does not support the video tag.
          </video>
        <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">In fact, the choices you make today affect all of the following in the not-so-distant future:</p>
            <li style="font-size: 22px;font-family: 'Times New Roman', Times, serif;">Will you be an unhealthy weight?</li>
            <li style="font-size: 22px;font-family: 'Times New Roman', Times, serif;">Will you develop heart disease?</li>
            <li style="font-size: 22px;font-family: 'Times New Roman', Times, serif;">Will you suffer a stroke?</li> 
            <li style="font-size: 22px;font-family: 'Times New Roman', Times, serif;">Will you develop osteoporosis?</li>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">If you’re between the ages of 35 and 50, you have a unique opportunity to positively impact your future health through the choices made 
        today following preventive health care healthy habits.</p>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Proactive management of your health risk factors through lifestyle choices and a preventative health care strategy is something you should 
        address now with the help of your gynecologist and perimenopause specialist. Why? Because as you navigate through these years, your body is also changing as it approaches perimenopause and menopause. 
        The experts at Moreland OB-GYN have created these resources to help women make proactive health care decisions that will improve future wellness through early perimenopause, perimenopause, and early menopause.<br><br>
        The experts at Moreland OB-GYN have created these resources to help women make proactive health care decisions that will improve future wellness through early perimenopause, perimenopause, and early menopause.</p>
        <br>
        <br>
        

    <h1 style="color: darkblue; font-family: 'Times New Roman', Times, serif;font-size: 27px;">Perimenopause: How to Prepare</h1>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Between the ages of 35 and 50, you have the opportunity to change the course of your future health by adopting healthy habits and a preventative 
        health care focus. At the same time, your body is continuing its evolution toward menopause—the point in time when you no longer menstruate.<br><br>As you start to feel early perimenopause symptoms, prioritizing healthy 
        life choices and habits can not only improve your symptoms, it can help prevent future disease.</p><br>

    <h style="color: mediumvioletred; font-family: 'Times New Roman', Times, serif; font-size: 22px;">What is Perimenopause?</h>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;"><a href="https://www.morelandobgyn.com/blog/perimenopause-symptoms-relief-how-to-find-a-perimenopause-doctor?hsLang=en">Perimenopause</a> refers to the time period when a woman’s 
        body is transitioning to menopause; from predictable, regular menstrual cycles to irregular cycles, and finally no menstruation at all.<br><br> No matter what age you are, before you begin having irregular periods, you may experience some changes in how 
        you feel, your emotions, and your hormone levels may fluctuate. In many instances, these are not medically- related, but rather lifestyle-related.</p>
            <li style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">In your mid- to late-30s, you may notice changes in mood, increased stress and emotions.</li>
            <li style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">In your 40s, you may notice more pronounced symptoms of PMS and PMDD, more drastic swings in mood, and irregular menstruation.</li>
        <p style="font-family:'Times New Roman', Times, serif; font-size: 22px;"> Some clinicians refer to this period as the menopausal transition, but for a 40-year-old who is done having kids, you are likely not pre-menopausal; instead, you’re perimenopausal.</p><br><br>
    
    <h style="font-family: 'Times New Roman', Times, serif;font-size: 27px;color:darkviolet ;">Health Risks for Women After Age 35</h>
    <br>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Family. Career. Managing the household. Caring for elderly parents. These are just some of the things you may manage on a daily basis. But the stress you feel now (and your lack of time to focus 
        on your own health) can lead to future women’s health problems and disease.</p>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Consider these examples:</p>
        <li style="font-family: 'Times New Roman', Times, serif;font-size: 22px;"><strong>Osteoporosis.</strong> Breaking a bone is the first sign you might have osteoporosis. There are no other symptoms you can see.</li>
        <li style="font-family: 'Times New Roman', Times, serif;font-size: 22px;"><strong>Heart attack.</strong> Many people have a scare or silent heart attack and then decide they need to clean up their diet and exercise routine.</li>
        <br>
        <br>

        <img src="preventive.jpg" alt="man wearing watch image not found" width="300" height="300">
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Your preventive health care starts today. With many diseases, you are not going to experience symptoms now, only once the disease has already developed. If you are not actively managing your risk factors 
        for future illness between the ages of 35 to 50, you could be at risk for developing:</p><br>

        <li style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Obesity.</li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">High blood pressure.</li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Diabetes.</li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Cardiovascular disease.</li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Heart disease.</li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Osteoporosis.</li>
        <br>
        <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">To help you manage and prevent future disease, keep reading to see what tests and screenings you might encounter at your next visit to the doctor.</p>


        
    
    
</body>
</html>