<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting fact about Beetroot</title>
</head>
<body>
    
    <h1 style="text-align: center;color: rgb(255, 17, 0);"><UL>INTERESTING FACT ABOUT BEETROOT.</UL></h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">The beetroot is the taproot portion of a beet plant, usually known in North America as beets while the vegetable is referred to as beetroot in British English, and also known as the table beet, 
        garden beet, red beet, dinner beet or golden beet. It is one of several cultivated varieties of Beta vulgaris grown for their edible taproots and leaves (called beet greens); they have been classified as B. vulgaris subsp. vulgaris Conditiva Group.
        Other cultivars of the same species include the sugar beet, the leaf vegetable known as chard or spinach beet, and mangelwurzel, which is a fodder crop. Three subspecies are typically recognized.</P>

        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 27px;">Health Benefits of Beetroot.</h1>

                <img src="/static/img/images/beetroot2.jpg" alt="beetroot image not found" width="400" height="300">

            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Beetroot (Beta vulgaris) is a root vegetable also known as red beet, table beet, garden beet, or just beet. 
            Packed with essential nutrients, beetroots are a great source of fiber, folate (vitamin B9), manganese, potassium, iron, and vitamin C.
            Beetroots and beetroot juice have been associated with numerous health benefits, including improved blood flow, lower blood pressure, and increased exercise performance. </p>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Health Benefits.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Vitamins and Minerals</p>
                    <br>
                    <br>
                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Beetroots are a great source of many essential vitamins and minerals.<br>
                    <li style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Folate (vitamin B9). One of the B vitamins, folate is important for normal tissue growth and cell function. It’s particularly necessary for pregnant women.</li>
                    <br>
                    <li style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Manganese. An essential trace element, manganese is found in high amounts in whole grains, legumes, fruits, and vegetables.</li>
                    <br>
                    <li style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Potassium. A diet high in potassium can lead to reduced blood pressure levels and positive effects on heart health. </li>
                    <br>
                    <li style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Iron. An essential mineral, iron has many important functions in your body. It’s necessary for the transport of oxygen in red blood cells.</li>
                    <br>
                    <li style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Vitamin C. This well-known vitamin is an antioxidant that is important for immune function and skin health.</li>
                    </p>
                
                    <br>
                    <br>
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Lower Blood Pressure.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Numerous studies suggest that nitrates can enhance physical performance, particularly during high-intensity endurance exercise. 
                    Dietary nitrates have been shown to reduce oxygen use during physical exercise by affecting the efficiency of mitochondria, the cell organs responsible for producing energy (30Trusted Source).
                    Beets and their juice are often used for this purpose because of their high inorganic nitrate content.
                    Consumption of beetroots may improve running and cycling performance, increase stamina, boost oxygen use, and lead to better exercise performance overall (31Trusted Source, 32Trusted Source, 33Trusted Source, 34Trusted Source, 35Trusted Source, 36Trusted Source, 37Trusted Source). </p>
                    <br>
                    <br>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Can improve athletic performance.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Several studies suggest that dietary nitrates like those found in beets may enhance athletic performance. 
                    Nitrates appear to affect physical performance by improving the efficiency of mitochondria, which are responsible for producing energy in your cells (12Trusted Source).
                    According to one review, beetroot juice could enhance endurance by increasing how long it takes to become exhausted, boosting cardiorespiratory performance, and improving efficiency for athletes (13Trusted Source).
                    Promisingly, beet juice has also been shown to improve cycling performance and increase oxygen use by up to 20% (14Trusted Source, 15Trusted Source).
                    It’s important to note that blood nitrate levels peak within 2–3 hours of consuming beets or their juice. Therefore, it’s best to consume them a couple of hours before training or competing to maximize their potential benefits (16Trusted Source).</p>
                    <br>
                    <br>
                    <br>

                




</body>
</html>