<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting fact about spinach</title>
</head>
<body>
    
    <h1 style="text-align: center;color: chartreuse;"><UL>INTERESTING FACT ABOUT SPINACH.</UL></h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">Spinach (Spinacia oleracea) is a leafy green vegetable that originated in Persia. It belongs to the amaranth family and is related to beets and quinoa. 
        What's more, it's considered very healthy, as it's loaded with nutrients and antioxidants. Spinach (Spinacia oleracea) is a leafy green vegetable that originated in Persia. It belongs to the amaranth family and is related to beets and quinoa. 
        What's more, it's considered very healthy, as it's loaded with nutrients and antioxidants.</P>

        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 27px;">Health Benefits of Spinach</h1>

                <img src="/static/img/images/spinach2.jpg" alt="spainach image not found" width="400" height="200">

            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Spinach is a great staple to add to your diet. This leafy green vegetable grows all year round and is packed with vitamins and minerals.  
            There are two basic types of spinach: flat-leaf and savoy. When you buy fresh, bunched spinach at the grocery store, it is usually savoy spinach. The leaves of savoy spinach are typically wrinkled and curly. 
            Flat spinach, also known as baby spinach, is widely popular in the U.S. and is often sold bagged, canned, or frozen. </p>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Health Benefits.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Though not the most exciting of foods, the health benefits of eating spinach are abundant:</p>
                    <br>
                    <br>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Lower blood pressure.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Spinach is rich in several minerals that your body needs, including potassium. Consuming foods that are high in potassium helps lower your blood pressure.</p>
                    <br>
                    <br>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Healthy Eyes.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Spinach is an excellent source of lutein, an antioxidant known to protect against age-related eye diseases such as macular degeneration and cataracts. Studies have found that people who take lutein supplements are at a lower risk for macular degeneration, which is the leading cause of vision impairment and blindness.

                        Cataracts are an eye condition caused by oxidation of the lens of the eye. Studies have shown that lutein appears to prevent ultraviolet damage to your lenses. One study found that women who had a higher dietary intake of lutein were 23% less likely to develop cataracts than those who had a low-lutein diet.</p>




</body>
</html>