<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting fact about Walnuts</title>
</head>
<body>
    
    <h1 style="text-align: center;color: rgb(255, 230, 0);"><UL>INTERESTING FACT ABOUT WALNUT.</UL></h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">A walnut is the edible seed of a drupe of any tree of the genus Juglans (family Juglandaceae), particularly the Persian or English walnut, Juglans regia. 
        Although culinarily considered a nut and used as such, it is not a true botanical nut. After full ripening, the shell is discarded and it is used as a garnish or a snack. Nuts of the eastern black walnut (Juglans nigra) and 
        butternuts (Juglans cinerea) are less commonly consumed.</P>

        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 27px;">Health Benefits of wallnut.</h1>

                <img src="/static/img/images/wallnut2.jpg" alt="wallnut image not found" width="400" height="200">

            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Walnuts are rounded, single-seeded stone fruits of the walnut tree commonly used for the meat after fully ripening between September and November, 
            in which the removal of the husk at this stage reveals a browning wrinkly walnut shell, which is usually commercially found in two segments (three or four-segment shells can also form). During the ripening process, the 
            husk will become brittle and the shell hard. The shell encloses the kernel or meat, which is usually made up of two halves separated by a partition within a fibrous sheath that splits when ripened.</p>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Health Benefits.</h>

                    
            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Walnuts provide healthy fats, fiber, vitamins and minerals — and that’s just the beginning of how they may support your health. 
            In fact, there’s so much interest in this one nut that for the past 50 years, scientists and industry experts have gathered annually at the University of California, Davis, for a walnut conference 
            discussing the latest walnut health research.</p>
            <br>
            <br>
                        
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Rich in Antioxidants.</h>
        
            <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Walnuts have higher antioxidant activity than any other common nut (1Trusted Source, 2Trusted Source). 
            This activity comes from vitamin E, melatonin and plant compounds called polyphenols, which are particularly high in the papery skin of walnuts (2Trusted Source, 3Trusted Source,
            4Trusted Source). A preliminary, small study in healthy adults showed that eating a walnut-rich meal prevented oxidative damage of “bad” LDL cholesterol after eating, whereas a 
            refined-fat meal didn’t (3Trusted Source).</p>
            <br>
            <br>
                        
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Super Plant Source of Omega-3s</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Walnuts are significantly higher in omega-3 fat than any other nut, providing 2.5 grams per 1-ounce (28-gram)
                serving (6, 7Trusted Source). Omega-3 fat from plants, including walnuts, is called alpha-linolenic acid (ALA). It’s an essential fat, meaning you have to get it from your diet.
                    
                    According to the Institute of Medicine, adequate intake of ALA is 1.6 and 1.1. grams per day for men and women respectively. A single serving of walnuts meets that guideline (8Trusted Source).</p>
                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">May Decrease Inflammation</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">nflammation is at the root of many diseases, including heart disease, type 2 diabetes, Alzheimer’s disease and cancer, and can 
                be caused by oxidative stress. The polyphenols in walnuts can help fight this oxidative stress and inflammation. A subgroup of polyphenols called ellagitannins may be especially involved (4Trusted Source). 
                Beneficial bacteria in your gut convert ellagitannins to compounds called urolithins, which have been found to protect against inflammation (5Trusted Source).</p>
                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Promotes a Healthy Gut</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Studies suggest that if your gut is rich in health-promoting bacteria and other microbes (your gut microbiota), you’re more likely 
                to have a healthy gut and good overall health. An unhealthy composition of your microbiota can contribute to inflammation and disease in your gut and elsewhere in your body, increasing your risk of obesity, 
                heart disease and cancer (12Trusted Source). What you eat can significantly influence the makeup of your microbiota. Eating walnuts may be one way to support the health of your microbiota and your gut.</p>
     

                

     
</body>
</html>