<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting fact about chocolate</title>
</head>
<body>
    
    <h1 style="text-align: center;color: chartreuse;"><UL>INTERESTING FACT ABOUT LENTILS.</UL></h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">The lentil (Lens culinaris or Lens esculenta) is an edible legume.
        It is an annual plant known for its lens-shaped seeds. It is about 40 cm (16 in) tall, and the seeds grow in pods, usually with two seeds in each. 
        As a food crop, the majority of world production comes from Canada and India, producing 58% combined of the world total.

            In cuisines of the Indian subcontinent, where lentils are a staple, split lentils (often with their hulls removed) known as daal are often cooked into a thick curry/gravy that is usually eaten with rice or rotis.</P>

        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 27px;">Health Benefits of lentils.</h1>

                <img src="/static/img/images/lentils2.jpg" alt="beetroot image not found" width="400" height="200">

            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Lentils are one of the world's oldest health foods. Growers first raised these beans in the Middle East in 8,000 B.C, and they've worked their way west since then. 
            Along the way, Greeks considered the bean a poor man's food while Egyptians often regarded it as royal fare. 
            The lentil came to the Americas in the early 16th century. During World War II, people began to see it as a low-cost, high-protein meat substitute.
            The lens-shaped bean comes in several varieties. The most common types are brown, green, and red. Dietitians like the gluten-free food because it's got lots of nutrition. Cooks like how its subtle flavor makes it the perfect canvas for other ingredients and seasonings.</p>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Health Benefits.</h>

                    
            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">It can lower cholesterol and protect against diabetes and colon cancer. 
            A daily dose of fiber pushes waste through your digestive system and prevents constipation, too. The potassium, folate, and iron in lentils also 
            provide lots of benefits. Potassium counters the bad effects of salt and lowers blood pressure. These are just a few of the ways research has shown that dark chocolate can benefit you:</p>
            <br>
            <br>
                        
        
        
             
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Reduces risk of certain chronic diseases.</h>
        
            <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Studies demonstrate that regularly eating lentils reduces your risk of chronic disease such as diabetes, obesity, cancer and heart disease. 
            This is thanks to their rich content of protective plant compounds called phenols – lentils being amongst the top ranked legumes for phenolic content. It comes as no surprise then that lentils boast an antioxidant, 
            antibacterial, anti-viral and anti-inflammatory effect and are cardio-protective.</p>
            <br>
            <br>
                        
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Support the digestive system.</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Lentils are especially rich in prebiotic fibre which promotes digestive function and ‘fuels’ the beneficial gut bacteria which are so important for our health. 
                A diet rich in fibre is associated with a number of health benefits including a reduced risk of colorectal cancer.</p>
                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Heart-healthy</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Lentils are rich in fibre, folate and potassium making them a great choice for the heart and for managing blood pressure and cholesterol. 
                They are also a source of energising iron and vitamin B1 which helps maintain a steady heartbeat.</p>

                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Helps to manage blood sugar levels</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Legumes, and lentils are no exception, have a low glycaemic index (GI) which slows the rate at which the energy they supply is released into the bloodstream. 
                This helps improve blood sugar management. The high fibre content also makes them very filling which helps appetite control.</p>
     
     

     

                




</body>
</html>