<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting fact about Salmon</title>
</head>
<body>
    
    <h1 style="text-align: center;color: rgb(255, 230, 0);"><UL>INTERESTING FACT ABOUT SALMON.</UL></h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">Salmon (/ˈsæmən/) is the common name for several species of ray-finned fish in the family Salmonidae. Other fish in the same family include trout, char,
        grayling, and whitefish. Salmon are native to tributaries of the North Atlantic (genus Salmo) and Pacific Ocean (genus Oncorhynchus). Many species of salmon have been introduced into non-native environments such as the Great 
        Lakes of North America and Patagonia in South America. Salmon are intensively farmed in many parts of the world.</P>

        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 27px;">Health Benefits of Salmon.</h1>

                <img src="/static/img/images/salmon2.jpg" alt="salmon image not found" width="400" height="200">

            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">The term "salmon" comes from the Latin salmo, which in turn might have originated from salire, meaning "to leap". The nine commercially important
             species of salmon occur in two genera. The genus Salmo contains the Atlantic salmon, found in the North Atlantic, as well as many species commonly named trout. The genus Oncorhynchus contains eight species which occur 
             naturally only in the North Pacific. As a group, these are known as Pacific salmon. Chinook salmon have been introduced in New Zealand and Patagonia. Coho, freshwater sockeye, and Atlantic salmon have been established 
             in Patagonia, as well.</p>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Health Benefits.</h>

                    
            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">The vitamin B12 in salmon keeps blood and nerve cells humming and helps you make DNA. But for your health, the true beauty of salmon is its wealth of 
            omega-3 fatty acids. Most omega-3s are "essential" fatty acids. Your body can't make them, but they play critical roles in your body.</p>
            <br>
            <br>
                        
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">May support a healthy heart.</h>
        
            <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Oily fish like salmon are rich in a type of polyunsaturated fat called omega-3 fatty acids. These fatty acids are essential because the body cannot 
            produce them, so we must include them regularly in our diet. The most beneficial omega-3 fatty acids, known as long chain, occur naturally in oily fish in the form of eicosapentaenoic acid (EPA) and docosahexaenoic acid (DHA). 
            These fatty acids are thought to contribute to a healthy heart and help maintain skin, joints and hormonal balance. In addition to heart disease, scientists are now investigating the role that fish consumption may have in protecting 
            us against some cancers and conditions like asthma, high blood pressure, macular degeneration and rheumatoid arthritis.</p>
            <br>
            <br>
                        
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">May support brain function</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">We’ve long been told that fish is ‘brain food’, and there’s convincing evidence to support this. Studies suggest regular consumption reduces age-related brain 
                loss and may improve memory – it’s the omega-3 fatty acids that are responsible for this. Studies investigating the role fatty varieties of fish play have seen benefits for conditions like Alzheimer’s disease, depression and multiple 
                sclerosis.</p>
                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">May be anti-inflammatory</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Oily fish plays an important role in dampening the effects of inflammation, which is key to helping manage a number of chronic diseases, including diabetes and cancer. 
                Studies suggest that eating more oily fish like salmon could help lower levels of the markers that indicate inflammation</p>
                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">May be protective</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">The pink colour of salmon comes from its rich levels of a protective antioxidant called astaxanthin. This compound has been linked to lowering the risk of heart disease 
                by improving cholesterol and working in combination with the omega-3 fatty acids to protect the brain and nervous system.</p>
                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">May support healthy ageing</h> 
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Salmon is a good source of protein, which is important for maintaining bone health, preventing muscle loss and helping the body heal and repair. Its rich astaxanthin content 
                may help maintain skin elasticity, reduce the signs of aging and protect the skin against UV damage.</p>
     
     

                

     
</body>
</html>