<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting fact about Garlic</title>
</head>
<body>
    
    <h1 style="text-align: center;color: chartreuse;"><UL>INTERESTING FACT ABOUT GARLIC.</UL></h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">Garlic (Allium sativum) is a species of bulbous flowering plant in the genus Allium. Its close relatives include the onion, shallot, leek, chive,
         Welsh onion and Chinese onion. It is native to Central Asia and northeastern Iran and has long been a common seasoning worldwide, with a history of several thousand years of human consumption and use.
         It was known to ancient Egyptians and has been used as both a food flavoring and a traditional medicine. China produces 76% of the world's supply of garlic..</P>

        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 27px;">Health Benefits of Garlic</h1>

                <img src="/static/img/images/garlic2.jpg" alt="garlic image not found" width="400" height="200">

            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Garlic is a popular ingredient enjoyed for both its unique flavor and powerful health benefits. However, garlic is usually sautéed, roasted, or baked before being added to recipes. 
            For this reason, many people are unsure whether raw garlic is safe to consume. This article takes a closer look at whether you can eat raw garlic, along with the potential benefits and downsides of doing so. </p>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Health Benefits.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Though not the most exciting of foods, the health benefits of eating garlic are abundant:</p>
                    <br>
                    <br>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Improves immunity.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Several studies show that garlic may help decrease inflammation and boost immune function, 
                    which may be due to its content of antioxidants and sulfur-containing compounds like allicin. </p>
                    <br>
                    <br>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Supports heart health.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Some research suggests that garlic may help lower blood pressure and decrease cholesterol levels to support heart health</p>




</body>
</html>