<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting fact about lemon</title>
</head>
<body>
    
    <h1 style="text-align: center;color: chartreuse;"><UL>INTERESTING FACT ABOUT LEMONS.</UL></h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">The lemon (Citrus limon) is a species of small evergreen trees in the flowering plant family Rutaceae, native to Asia, primarily Northeast India (Assam), Northern Myanmar or China. 
        The tree's ellipsoidal yellow fruit is used for culinary and non-culinary purposes throughout the world, primarily for its juice, which has both culinary and cleaning uses. The pulp and rind are also used in cooking and baking. The juice of the lemon is about 5% to 6% citric acid, with a pH of around 2.2, giving it a sour taste. 
        The distinctive sour taste of lemon juice makes it a key ingredient in drinks and foods such as lemonade and lemon meringue pie.</P>

        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 27px;">Health Benefits of Garlic</h1>

                <img src="/static/img/images/lemon2.jpg" alt="lemon image not found" width="400" height="200">

            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Lemons are high in vitamin C, fiber, and various beneficial plant compounds. 
            These nutrients are responsible for several health benefits. 
            In fact, lemons may support heart health, weight control, and digestive health. </p>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Health Benefits.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Though not the most exciting of foods, the health benefits of eating lemon are abundant:</p>
                    <br>
                    <br>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Support Heart Health</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Lemons are a good source of vitamin C. 
                    One lemon provides about 31 mg of vitamin C, which is 51% of the reference daily intake (RDI).  
                    Research shows that eating fruits and vegetables rich in vitamin C reduces your risk of heart disease and stroke (1Trusted Source, 2Trusted Source, 3Trusted Source).
                    However, it’s not only the vitamin C that is thought to be good for your heart. The fiber and plant compounds in lemons could also significantly lower some risk factors for heart disease (4Trusted Source, 5Trusted Source).
                    For instance, one study revealed that eating 24 grams of citrus fiber extract daily for a month reduced total blood cholesterol levels (6).
                    Plant compounds found in lemons — namely hesperidin and diosmin — have also been found to lower cholesterol (7Trusted Source, 8Trusted Source, 9). </p>
                    <br>
                    <br>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Help Control Weight.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Lemons are often promoted as a weight loss food, and there are a few theories as to why this is. 
                        One common theory is that the soluble pectin fiber in them expands in your stomach, helping you feel full for longer.
                        That said, not many people eat lemons whole. And because lemon juice contains no pectin, lemon juice drinks will not promote fullness in the same way.
                        Another theory suggests that drinking hot water with lemon will help you lose weight. 
                        However, drinking water is known to temporarily increase the number of calories you burn, so it may be the water itself that is helping with weight loss — not the lemon (10Trusted Source, 11Trusted Source).
                        Other theories suggest that the plant compounds in lemons may aid weight loss.
                        Research shows that plant compounds in lemon extracts may help prevent or reduce weight gain in a number of ways (12Trusted Source, 13Trusted Source).
                        In one study, mice on a fattening diet were given lemon polyphenols extracted from the peel. They gained less weight and body fat than other mice (14Trusted Source).
                        However, no studies confirm the weight loss effects of lemon compounds in humans.</p>
                    <br>
                    <br>
                    <br>

                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;"> Prevent Kidney Stones.</h>

                    <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Kidney stones are small lumps that form when waste products crystallize and build up in your kidneys. 
                        They are quite common, and people who get them often get them repeatedly.
                        Citric acid may help prevent kidney stones by increasing urine volume and increasing urine pH, creating a less favorable environment for kidney stone formation (15Trusted Source, 16Trusted Source).
                        Just a 1/2-cup (4 ounces or 125 ml) of lemon juice per day may provide enough citric acid to help prevent stone formation in people who have already had them (17Trusted Source, 18Trusted Source).
                        Some studies also found that lemonade effectively prevented kidney stones, but the results have been mixed. Other studies have shown no effect (19Trusted Source, 20Trusted Source, 21Trusted Source, 22Trusted Source).
                        Therefore, more well-conducted studies need to examine whether lemon juice affects kidney stone formation (23Trusted Source, 24Trusted Source, 25Trusted Source).</p>




</body>
</html>