<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting fact about RASPBERRY</title>
</head>
<body>
    
    <h1 style="text-align: center;color: rgb(255, 0, 0);"><UL>INTERESTING FACT ABOUT RASPBERRY.</UL></h1>
        <P style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">The raspberry is the edible fruit of a multitude of plant species in the genus Rubus of the rose family, most of which are in the subgenus Idaeobatus. 
        The name also applies to these plants themselves. Raspberries are perennial with woody stems. World production of raspberries in 2019 was 822,493 tonnes, led by Russia with approximately 21% of the total.</P>

        <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: 27px;">Health Benefits of Raspberries.</h1>

                <img src="/static/img/images/raspberry2.jpg" alt="beetroot image not found" width="400" height="200">

            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;"> Raspberries are vigorous and can be locally invasive. They propagate using basal shoots (also known as suckers), extended underground shoots that develop roots and individual plants. 
            They can sucker new canes some distance from the main plant. For this reason, raspberries spread well, and can take over gardens if left unchecked. Raspberries are often propagated using cuttings, and will root readily in moist soil conditions.</p>
                
                <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Health Benefits.</h>

                    
            <p style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Raspberries also contain plant chemicals called flavonoids, which have antioxidant effects. Antioxidants help the body eliminate toxic substances known as free radicals. 
            The body produces some of these substances during metabolic processes, but others result from external factors, such as unhealthful foods and pollution. Unhealthful foods include processed foods and those high in fat and sugar. 
            These are just a few of the ways research has shown that dark chocolate can benefit you:</p>
            <br>
            <br>
                        
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Brainpower.</h>
        
            <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Experts have suggestedTrusted Source that consuming a diet rich in antioxidants can contribute to the health of the brain and the neurological system. 
            There is evidence that vitamins C and E may help protect a person’s ability to think and remember information as they get older. Raspberries contain these antioxidant vitamins.</p>
            <br>
            <br>
                        
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Heart health</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Research has shown that one group of flavonoids, in particular — anthocyanins — can suppress inflammation that may lead to cardiovascular disease. 
                Anthocyanins are also present in raspberries.</p>
                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Cancer prevention</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">The National Cancer InstituteTrusted Source note that antioxidants from dietary sources may help protect the body from lung, esophageal, gastric, and other types of cancer. 
                In 2010, scientists treated stomach, colon, and breast cancer cells with an extract of Meeker red raspberries. The extract killed more than 90% of the cells. The researchers estimated that antioxidants were responsible for about half of the destruction 
                of breast cancer cells.</p>
                <br>
                <br>
        <h style="font-family:'Times New Roman', Times, serif;font-size: 22px;">Diabetes management</h>
        
                <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">The antioxidants in berries may help prevent inflammation, which could be a risk factor for type 2 diabetes. 
                The authors of a 2018 reviewTrusted Source concluded that dietary fiber might lower the risk of developing type 2 diabetes and improve symptoms in people who already have this condition.
                Raspberries are naturally sweet, and people do not usually need to add sugar to them. Their sweetness makes them a useful addition to the diet when a person is seeking to manage diabetes 
                or excess weight. However, they do contain some natural sugar. People with diabetes should take this into account.</p>
     

                

     
</body>
</html>