  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>healthy foods</title>
</head>
<body style="background-color:rgb(175, 228, 230);">

    
    <h1 style="color: blue;text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;"><b>HEALTHY FOODS.</b></h1>
    <h2 style="font-family: 'Times New Roman', Times, serif; color: rgb(127, 193, 255);"><b>What is Considered “Healthy Food”?</b></h2>
        <p style="font-family: 'Times New Roman', Times, serif; font-size:22px;">Do you ever find it difficult to determine if your favorite foods are actually healthy for you?.</p>
        
        <p style="font-family: 'Times New Roman', Times, serif; font-size:23px;">Between misleading labels and the never-ending supply of ‘healthy’ foods on every supermarket shelf, eating healthy be 
        a confusing and even daunting task.
        </p>

         <p style="font-family: 'Times New Roman', Times, serif; font-size:23px; color: gray;"><b>If you’re <a href="stuff"> between the ages of 35 and 50</a>, the choices you make regarding your health right now are more important than ever. In fact, the choices you make <br>today can help support a healthy you now, and in the <br>future.</b></br>
        </p>

        <p style="font-family: 'Times New Roman', Times, serif; font-size:22px;">Take a look below as we explore ‘healthy foods’ and provide some insight into whether the foods in your diet are providing you with the nutrients you need.
        </p><s></s>

    <h2 style="font-family: 'Times New Roman', Times, serif; color: rgb(127, 193, 255);"><b> “Healthy Food”?</b></h2>

        <img src="/static/img/images/salad.jpg" alt=" salad image not found" width="500" height="333.6 " ,align="left">

        <p style="font-family: 'Times New Roman', Times, serif; font-size:22px;">What is Considered “Healthy Food”?
        While eating fads come and go, there are a few key elements to healthy eating that remain unchanged.
        
        "Healthy Food” Defined
        What is Healthy Food - Moreland OB-GYNHealthy foods are those that provide
        you with the nutrients you need to sustain your body’s well-being and retain energy. 
        Water, carbohydrates, fat, protein, vitamins, and minerals are the key nutrients that make up a healthy, balanced diet.
        </p><br>
    
    <h1 style="font-family: 'Times New Roman', Times, serif; font-size:40px; text-align: center; color: rgb(0, 60, 255);"><b>The 10 healthiest foods on Earth</b></h1>

        <p style="font-family: 'Times New Roman', Times, serif; font-size:22px;">Don't worry, you can find all these in your local supermarket.
        Eating healthy obviously has many positive benefits to both your body and mind. When we eat well we feel good for it, and when we feel good we are much happier and productive people. 
        This cycle then affects your work, your relationships and your overall life in general. It therefore makes sense to eat the healthiest things and reap the benefits of doing so.
        Nowadays eating healthy is a lot easier than it used to be. Restaurants and shops alike are trying to push people towards eating healthy, responding to the demand of some of its customers. 
        Supermarket aisles are now becoming packed with healthier options, so why shouldn't you take this opportunity to treat your body the way it deserves to be treated.
        </p><br>

    <h style="font-family: Georgia, 'Times New Roman', Times, serif; color: dodgerblue; font-size:30px;"><u>Why have these foods been chosen as the healthiest?</u></h>
        <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 21px;">The 10 healthiest foods we have chosen may not make it onto everybody's list and you may even think differently. 
        However these foods have the essential vitamins and minerals the human body needs to function at its best. Plus, as an added incentive, all of them are delicious and will be a pleasure to eat.</p><br>

    
    <h style="color: darkgreen; font-family: Georgia, 'Times New Roman', Times, serif; font-size:22px;">Spinach</h>

        <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 22px;">If it's good enough for Popeye, it's good enough for you. Spinach is a nutrient-dense superfood and<br> thanks to its 
        increase in popularity it is readily available in nearly all supermarkets. Whether fresh,<br> frozen or even canned as our pipe smoking sailor friend prefers it. Spinach is one of the healthiest<br> foods 
        on the planet, it is packed with energy whilst low in calories. It is also a great source of Vitamins<br> A, K, and essential folate. <a href="spinach">click here for more info about spinach.</a>
        </p>

        <img src="/static/img/images/spinach.jpg" alt="spainach image not found" width="600" height="400.6"><br>
        <br>
        <br>
        <br>
    
    <h style="color:darkgoldenrod; font-family: 'Times New Roman', Times, serif; font-size:27px;">Garlic</h>

        <p style="font-family: 'Times New Roman', Times, serif; font-size:22px;">Agreed, it may make your breath smell, but trust us, the benefits it provides are well worth it. Garlic has been used<br> to fight 
        disease for hundreds of years now as it inhibits the growth of bacteria. It also lowers cholesterol, blood pressure<br> and is a powerful anti-inflammatory. So look past the smell, buy some mouthwash and 
        get yourself some garlic.<br><a href="garlic">click here for more info about garlic.</a></p>

        <img src="/static/img/images/garlic.jpg" alt="Garlic image not found" width="600" height="400.6">
        <br>
        <br>
        <br>

    
    <h style="color:darkorange; font-family: 'Times New Roman', Times, serif; font-size:27px;">Lemons</h>

        <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Lemons have been widely regarded in the health industry as the world's healthiest food. The sour fruit is an alkalising powerfood;<br>
        they have strong anti-inflammatory qualities and can even help to inhibit the growth of cancer cells. They aid both the liver and bowels,<br> and also have the same amount of Vitamin C as an orange. So, when the 
        world gives you lemons, say thank you, and add a slice to some<br> water and enjoy.<br>
             <a href="lemons">click here for more info about Lemons.</a></p>
        <img src="/static/img/images/lemon.jpg" alt="Lemons image not found" width="600" height="400.6">
        <br>
        <br>
        <br>
    
    <h style="color: brown; font-family: 'Times New Roman', Times, serif; font-size:27px;">Beetroot</h>

        <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">The purple vegetable is sometimes overlooked when it comes to being one of the healthiest foods available. But there are arguments that it<br> 
        could still be a superfood, and we agree. Beetroot is good for the brain and can lower blood pressure. Recent health claims even state that it<br> boosts exercise performance and can even help prevent dementia. This 
        root vegetable is filled with folate, magnesium and vitamin C, so start<br> adding it to your salads from now on.<br>
             <a href="beetroot">click here for more info about Beetroot.</a></p>
        
        <img src="/static/img/images/beetroot.jpg" alt="Beetroot image not found" width="600" height="400.6">
        <br>
        <br>
        <br>
        
    <h style="color:chocolate; font-family: 'Times New Roman', Times, serif; font-size:27px;">Chocolate</h>
            <p style="font-family: 'Times New Roman', Times, serif; font-size:22px;">Yes you've read it right, we're putting chocolate into our list of healthy foods - this should have chocoholics everywhere jumping for joy.
            Research<br>shows that chocolate contains more antioxidants, gram for gram than most fruit juices. Dark chocolates high antioxidant content (which is on par or<br> greater than many superfoods) gives protection from 
            disease-causing free radicals. It may help prevent cancer, improve heart health and is good for<br> your overall cholesterol profile. Plus it is a natural mood-booster, so you'll be happy as you eat it! Please remember, 
            this doesn't mean you can eat the<br> full family bar to yourself and feel better for it. You need to eat in healthy moderation, just one or two squares per day is enough to reap the benefits<br> without piling on the 
            pounds and make sure to find a minimally processed bar with at least 70% cocoa content.<br><a href="chocolate">click here for more info about Beetroot.</a>
                
            </p>
        <img src="/static/img/images/chocolate.jpg" alt="chocolate image not found" width="600" height="400.6">
            <br>
            <br>
            <br>

    <h style="color:coral;font-family: 'Times New Roman', Times, serif;font-size:27px;">Lentils</h>
            <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">These have been a staple part of Middle Eastern and Indian cuisine for thousands of years. Now thanks to their health benefits,
            they have made their<br>
            way to the UK. Lentils are high in fibre and protein, their nutritional benefits include the ability to improve and maintain heart health, assist weight loss<br> 
            in a healthy way, fight blood sugar fluctuations that can lead to diabetes or low energy levels, and improve digestive health. If you're a vegetarian or a<br> 
            vegan you're probably already loving lentils, and using them as a meat substitute in your recipes. If you have never had them, trust us, add them to a<br>
            salad, soup or a stew and enjoy the benefits.<br><a href="lentils">click here for more info about lentils.</a></p>
        

        <img src="/static/img/images/lentils.jpg" alt="lentils imae not found" width="600" height="400.6">
            <br>
            <br>
            <br>

    <h style="color:red;font-family: 'Times New Roman', Times, serif;font-size: 22px;">Raspberry</h>
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">The most consumed berry in the world, raspberries are filled with antioxidants, Vitamin C and iron. Research has shown increasing your consumption of<br>
            these decreases the risk of obesity, diabetes, heart disease and promotes a healthy complexion, increased energy and overall lower weight. So next time you're<br> 
            on the fruit aisle, make sure to put some raspberries in your basket.<br><a href="raspberry">here are interesting fact about Raspberry.</a></p>

        <img src="/static/img/images/raspberry.jpg" alt="raspberry image not found" width="600" height="400.6">
        <br>
        <br>
        <br>
    
    <h style="color: darkgoldenrod; font-family: 'Times New Roman', Times, serif;font-size: 27px;">Walnut</h>

            <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">As far as nuts go, it's a mixed bag (pause for laughter), some are very good for you and some not. Walnuts have more antioxidants than any other nut, they are also<br>
            high in Vitamin E, plan serums, omega 3 oils and healthy fats. Studies suggest that walnuts are as effective as olive oil at reducing inflammation and oxidation in the<br> arteries after a fatty meal. With most of our healthy foods, they need
            to be eaten in moderation, as too many is not good. It is recommended to eat around 8 walnuts a<br> day to achieve the benefits.<br><a href="walnut">here are  interesting fact about about Walnut.</a></p>
        
        <img src="/static/img/images/wallnut.jpg" alt="Walnut image not found" width="600" height="400.6">
        <br>
        <br>
        <br>

    <h style="color:chocolate; font-family: 'Times New Roman', Times, serif;font-size:27px;">Salmon</h>
            <p style="font-family: 'Times New Roman', Times, serif;font-size:22px;">This fish is an excellent source of omega 3 fatty acids which is linked to reducing the risk of depression, heart disease and cancer. A 3oz serving will contain almost 50%<br>
            of your daily dose of niacin which can protect the body against Alzheimer's disease and memory loss, hence why it is known as brain food. It is high in protein, vitamins<br>
            and minerals - potassium, selenium and Vitamin B12.<br><a href="salmon">here are more interesting fact about Salmon</a></p>

        <img src="/static/img/images/salmon.jpg" alt="salmon image not found" width="600" height="400.6">
        <br>
        <br>
        <br>

    <h style="color: chartreuse; font-family: 'Times New Roman', Times, serif;font-size:27px;">Avocado</h>
            <p style="font-family: 'Times New Roman', Times, serif;font-size:22px;">The avocado can divide people, it is the marmite of the fruit world. So what if we told you that eating 1 or 2 a week will give you all the benefit of healthy monounsatu-<br>
            rated fats, potassium, folate and Vitamins K, C, B5, B6 and E! Avocados are incredibly nutritious, loaded with heart healthy fatty acids and are high in fibre. The benefits<br>
            to eating this 'alligator pear' are the lowering of cholesterol and triglyceride levels, they protect your eyes, relieve symptoms of arthritis and may help to prevent cancer.<br>
            So if you haven't tried it, please do, and if you didn't like it, maybe give it another chance.<br><a href="avocado">here are interesting fact about Avocado.</a></p>

        <img src="/static/img/images/avocado.jpg" alt="Avocado image not found." width="600" height="400.6">
        <br>
        <br>
        <br>
        <style>
            table{
                font-family: 'Times New Roman', Times, serif;font-size:22px;
                border-collapse: collapse;
                width: 100%;

            }
            
            td, th{
                border: 1px solid;
                text-align: left;
                padding: 9px;
            }
        </style>
        <h2>Diffrerent Fruits and nutrients.</h2>

        <table>
          <tr>
            <th>S/N</th>  
            <th>Fruits</th>
            <th>Nutrients</th>
            
          </tr>
          <tr>
            <td>1.</td>
            <td>Apples</td>
            <td>They’re rich in both soluble and insoluble fiber, such as pectin, hemicellulose, and cellulose. 
            These help you manage your blood sugar levels, promote good digestion, and support gut and heart health <a href="https://www.healthline.com/nutrition/10-health-benefits-of-apples">more info</a></td>
            
          </tr>
          <tr>
            <td>2.</td>
            <td>Blueberries</td>
            <td> They’re high in anthocyanin, a plant pigment and flavonoid that gives blueberries their characteristic 
            blue-purple color. <a href="https://www.healthline.com/nutrition/10-proven-benefits-of-blueberries">more info</a></td>
            
          </tr>
          <tr>
            <td>3.</td>
            <td>Banana</td>
            <td>Bananas go beyond their potassium content. Along with providing 7% of the Daily Value (DV) for potassium,
            bananas contain <a href="https://www.healthline.com/nutrition/11-proven-benefits-of-bananas">more info</a></td>
            
          </tr>
          <tr>
            <td>4.</td>
            <td>Orange</td>
            <td>Oranges are known for their high vitamin C content, providing 91% of the DV in a single fruit. They’re also 
            high in potassium, folate, thiamine (vitamin B1), fiber, and plant polyphenols (24Trusted Source). <a href="https://www.healthline.com/nutrition/oranges">more info</a></td>
            
          </tr>
          <tr>
            <td>5.</td>
            <td>Dragon fruit</td>
            <td>Dragon fruit is rich in many nutrients, including fiber, iron, magnesium, and vitamins C and E. It’s also an 
            excellent source of carotenoids, such as lycopene and beta carotene. <a href="https://www.healthline.com/nutrition/dragon-fruit-benefits">more info</a> </td>
            
          </tr>
          <tr>
            <td>6.</td>
            <td>Mango</td>
            <td> Mangoes are an excellent source of potassium, folate, fiber, and vitamins A, C, B6, E, and K. They’re also rich 
            in numerous plant polyphenols that have antioxidant and anti-inflammatory properties (27Trusted Source). <a href="https://www.healthline.com/nutrition/mango">more info</a></td>
           
          </tr>
          <tr>
            <td>7.</td>
            <td>Avocado</td>
            <td>avocados are high in healthy fats and low in natural sugars. They’re mostly made of oleic acid, a monounsaturated 
            fat linked to better heart health. They also contain high amounts of potassium, fiber, vitamin B6, folate, vitamins E 
            and K, and two carotenoids known as lutein and zeaxanthin, which support eye health (32Trusted Source, 33Trusted Source, 
            34Trusted Source). <a href="https://www.healthline.com/nutrition/avocado-nutrition">more info</a></td>
            
          </tr>
          <tr>
            <td>8.</td>
            <td>Lychee</td>
            <td>Lychee, which is also known as litchi and Chinese cherry, is packed with nutrition. In particular, it’s a rich source 
            of vitamin C, potassium, fiber, and many polyphenols with anti-inflammatory and antioxidant properties. <a href="https://www.healthline.com/nutrition/foods/lychees">more info</a> </td>
            
          </tr>
          <tr>
            <td>9.</td>
            <td> Pineapple</td>
            <td>Pineapple is one of the most popular tropical fruits. One cup (165 grams) of pineapple provides 88% of the DV for vitamin 
            C and 73% of the DV for manganese (40Trusted Source). <a href="https://www.healthline.com/nutrition/benefits-of-pineapple">more info</a></td>
            
          </tr>
          <tr>
            <td>10.</td>
            <td>Strawberries</td>
            <td>Strawberries are a favorite fruit for many. They’re delicious, convenient, and highly nutritious. In particular, strawberries 
            are a good source of vitamin C, folate, and manganese (44Trusted Source). <a href="https://www.healthline.com/nutrition/foods/strawberries">more info</a></td>
            
          </tr>
          <tr>
            <td>11.</td>
            <td>Durian</td>
            <td>Durian is incredibly nutritious. It’s also rich in healthy plant compounds, including anthocyanins, carotenoids, polyphenols, 
            and flavonoids. Many of these function as antioxidants (2Trusted Source). <a href="https://www.healthline.com/nutrition/durian-fruit">more info</a>
          </tr>
          <tr>
            <td>12.</td>
            <td>Cherries</td>
            <td>Cherries are a great source of fiber and potassium, both of which are important for heart and gut health (51Trusted Source, 52Trusted Source, 53Trusted Source). 
            They’re also high in antioxidant plant compounds, such as anthocyanins and hydroxycinnamates, which help protect the body from oxidative stress. <a href="https://www.healthline.com/nutrition/cherries-benefits">more info</a></td>
            
          </tr>
          <tr>
          <td>13.</td>
          <td>Olives</td>
          <td> olives are a great addition to your diet. They’re an excellent source of vitamin E, copper, and a monounsaturated fat called oleic acid. 
            They’re also rich in plant polyphenols, such as oleuropein, hydroxytyrosol, and quercetin, which have anti-inflammatory and antioxidant properties 
            (54Trusted Source, 55Trusted Source, 56Trusted Source). <a href="https://www.healthline.com/nutrition/foods/olives">more info</a></td>
          
        </tr>
        <tr>
        <td>14.</td>
        <td>Watermelon</td>
        <td>Watermelon is a highly nutritious summer favorite. It’s an abundant source of antioxidants, such as vitamins A and C, beta carotene, and lycopene. 
        It’s also a good source of potassium and magnesium (59Trusted Source). <a href="https://www.healthline.com/nutrition/watermelon-health-benefits">more info</a></td>
        
        </tr>
        <tr>
        <td>15.</td>
        <td>Kiwi</td>
        <td> kiwi is great for your health. It’s high in vitamin C and a good source of fiber, potassium, folate, and vitamin E. It’s also a good source of 
        carotenoids, including lutein, zeaxanthin, and beta carotene, which support eye health and become more dominant as fruits ripen (66Trusted Source, 
        67Trusted Source). <a href="https://www.healthline.com/nutrition/kiwi-benefits">more info</a></td>
        
        </tr>
        <tr>
        <td>16.</td>
        <td>Peaches</td>
        <td>Peaches are another summer favorite. They’re a good source of potassium, fiber, and vitamins A, C, and E. They also contain the carotenoids lutein, ]
        zeaxanthin, and beta carotene (69Trusted Source). <a href="https://www.healthline.com/nutrition/peach-fruit-benefits">more info</a></td>
        
      </tr>
      <tr>
      <td>17.</td>
      <td>Guava</td>
      <td>Guava is a fantastic source of vitamin C. In fact, a single fruit (55 grams) provides 140% of the DV for this nutrient (73Trusted Source). <a href="https://www.healthline.com/nutrition/8-benefits-of-guavas">more info</a></td>
      
    </tr> 
    <tr>  
    <td>18.</td>
    <td>Grapes</td>
    <td>Grapes are convenient, healthy, and particularly high in potassium and vitamin K, which both support heart health. They’re a rich source of 
    beneficial plant compounds that have been linked to numerous health benefits, such as a lowered risk of heart disease and certain types of cancer. <a href="https://www.healthline.com/nutrition/benefits-of-grapes">more info</a></td>
    
     </tr>
     <tr>
     <td>19.</td>
     <td>Pomegranates</td>
     <td>Pomegranates are known for their high antioxidant content. They contain a lengthy list of beneficial plant compounds, such as flavonoids, tannins, 
    and lignans. These have strong antioxidant and anti-inflammatory properties that help fight free radicals and reduce your risk of chronic disease (77Trusted 
    Source, 78Trusted Source, 78Trusted Source, 80Trusted Source). <a href="https://www.healthline.com/nutrition/12-proven-benefits-of-pomegranate">more info</a></td>
     </tr>

     <tr>
     <td>20.</td>
     <td>Grapefruit</td>
     <td>Grapefruit is one of the healthiest citrus fruits. It’s packed with vitamin C, potassium, fiber, and beta carotene, which your body converts into vitamin A. <a href="https://www.healthline.com/nutrition/10-benefits-of-grapefruit">more info</a></td>
     


    </table>
        


</body>
</html>
