<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Mental Health.org</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/mental_health.css' %}">
</head>
<body>
    <h1> Welcome to Mental Health</h1>
    <br>
    <br>
    <h2>Mental Health Program.</h2>
    
    <p id="para1">Under the leadership of former First Lady Rosalynn Carter, a longtime champion 
       for the rights of people with mental illnesses,<br> the Carter Center's Mental Health 
       Program works to promote awareness about mental health issues, inform public policy, 
       achieve<br> equity for mental health care comparable to other health care, and reduce stigma 
       and discrimination against those with mental illnesses.
    </p>

    <h id="h3">How Common are Mental Illnesses?</h>

    <p id="para2">Mental illnesses are among the most common health conditions in the Nigeria and
       around the world. Around one in five Nigerian<br> adults experience some form of mental illness. Even 
       the most serious mental health conditions can be treated, however, allowing<br> people to better contribute 
       to their families and communities.
    </p>

    <h id="h4">Why Mental Health?</h>

    <p id="para3">Someone once said 'don't give in to stigma, a diagnosis does not determine who you
        are or what you can do!' Many students, as well<br> as adults, are terrified of dealing with mental 
        health disorders because of the unfair stigma that might accompany them. In these three<br> projects, 
        your juniors and seniors will work as individuals and in groups to learn more about various mental 
        health concerns. They will<br> benefit by realizing millions of other people secretly deal with these 
        issues, that stigmatizing is not really fair, and that treatment options<br> are available.
    </p>
    <br>


    <h id="h5">Stress Reduction Journals</h>
    <p id="para4">Materials: online access, student journal books, writing implements</p>
        <div class="right">
        <p><li>Many experts believe stress can lead to mental health disorders as well as anger, decreased sleep quality,<br>
             depression, and lower grades. What's worse is these factors can snowball, become a vicious cycle, and tragically<br>
             even lead to suicide.
            </li>
            <br>
            <li>
                However, the good news is a myriad of techniques and strategies can be taught to high school students as they<br>
                deal with acne, peer pressure, parents, worries over college, and the other travails of teenage life.
            </li>
            <br>
            <li>
                Have your students keep a daily journal, including weekends, of their daily lives.
            </li>
            <br>
            <li>
                Let them know they should include emotions, feelings, and thoughts as well as what events took place.
            </li>
            <br>
            <li>
                Lastly, make sure students keep their journal private and locked away, or if they use an online journal,<br>
                have them keep a secret password.
            </li>
        </p>
    </div>

        <div class="head_image">
            <img src="/static/img/mental health images/mental health first image.png" alt="head image not found." width="500" height="280">
        </div>
        <br>
       
        <h id="h6">Three Helpful Mindfulness Exercises</h>
        <p id="para5">Materials: online capability, paper, snacks, writing utensils,</p>
        <div class="list2">
            <li>
                By teaching mindfulness in the classroom, your goal is to get your students to apply the principles to their day-to-day<br>
                lives. Many experts claim mindfulness could possibility improve mental health, reduce teenage depression, and even prevent<br>
                teenage suicides. It might help your students </li><br>
            <li>These exercises should be done at least once per week for a at least a three-month period.</li><br>
        
            <br>
            <h id="h7">Mindful Breathing.</h><br>
            <br>
        
            <li>Many experts feel deeper breathing is preferable to shallower breathing.</li><br>
            <li>Instruct your students to visualize a pleasant place such as a beach or a mountain stream.</li><br>
            <li>First have your students sit down, relax, and close their eyes.</li><br>
            <li>Now have the students breathe in slowly and deeply through their noses while counting to three.</li><br>
            <li>Next have the students breathe out slowly through the their mouths while counting to three.</li><br>
            <li>Repeat this process five times.</li><br>
            <li>Lastly, have your students open their eyes and ask them how different it feels to breathe this<br> 
            way versus the way they normally breathe throughout the school day.</li><br>
            <br>
            <br>

            <h id="h8">Mindful Eating</h>
        
            <p id="para6">Note - make sure to check for students with food allergies, and don't use peanuts for this<br> 
                exercise.</p>
            <li>In our fast-paced society, we tend to rush everything, including eating. Many students only<br> 
                get about 10 to 15 minutes to eat lunch, when you factor in standing in line and clean-up times.</li><br>
            <li>First provide your students a simple and fairly easy to chew snack such as some chips.</li><br>
            <li>Next have them smell the food for about 30 seconds.</li><br>
            <li>Now have them touch the food for about 20 seconds.</li><br>
            <li>At this point, have the students chew the food as slowly and as many times as possible.</li><br>
            <li>Finally, ask the students how this method of eating is different than the way they usually eat.</li><br>
            <br>

            
            <h id="h9">Mindful Walking</h>
            <br>
            <br>

            <li>So many people rush from place to place and activity to activity, and before they know it, another year has<br>
                slipped away without them really enjoying the journey. </li><br>
            <li>First provide an open room, hall, or outside space for the students to have plenty of room to walk without bumping<br> 
                into items. </li><br>
            <li>Now have your students take three slow, deep breaths, inhaling through their noses and then exhaling out their mouths. </li><br>
            <li>Next have them walk as slowly as possible, taking care to look up and around as opposed to at their feet. </li><br>
            <li>Instruct them to pay attention to their five senses as they are walking. </li><br>
            <br>
            <br>
            <div class="next">
                <a href="news">Next</a>
            </div>

            <div class="link">
                <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;">Visit Our Websites.</p>
                <br>
                
                <button onclick="document.location='Healthy foods.asp'"><a href="/healthy_foods/healthy_foods.html"> Healthy Foods</a></button>
    
            </div>
            
        </div>

        <div class="second_image">
            <img src="/static/img/mental health images/mental health second image.png" alt=" sick man image not found." width="500" height="380">
        </div>
        <br>
        <br>
        <br>
        <br>

        <div class="links">
            <p style="font-family: 'Times New Roman', Times, serif; font-size: 22px;color: rgb(228, 210, 187);" >Visit Our Websites.</p>
            <br>
            
            <a href="Healthy foods" style="color: rgb(228, 210, 187);">Healthy Foods</a>

        </div>
        <div class="mental_video">
                <video width="500" height="300" controls>
                    <source src="yt5s.com-What is Mental Health.mp4" type="video/mp4">
                    <source src="yt5s.com-What is Mental Health.mp4" type="video/health">
                  Your browser does not support the video tag.
                  </video>
            </div>
        

</body>
</html>