<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mental health news.</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/mental_health.css' %}">
</head>
<body>
    <div class="woman">
        <img src="/static/img/mental health images/happy woman.jpg" alt="happy woman image" width="1350" height="400" >
    </div>

    <div class="news">
        <h style="font-family: 'Times New Roman', Times, serif;font-size: 27px;color: red;">News.</h>
        
        <p> 
            <a href="unknown websites">
            Are Paranormal Beliefs<br>
            a Result of Lazy Thinking?<br>
            3 hours</a>
        </p>
        
        <p> 
            <a href="unknown websites">
            Can Genetics Help Predict Depression<br>
            After a Major Stressor?<br>
            5 hours
             </a>
        </p>
        <p> 
            <a href="unknown websites">
            A New Trick for Managing the<br>
            Chronically Cynical.<br>
            5 hours
                
             </a>
        </p>
        <p> 
            <a href="unknown websites">
            Supply, Demand, and<br> 
            PTSD Among Health Care Workers.<br>
            1 day
                
             </a>
        </p>
        <p> 
            <a href="unknown websites">
            Why Men Have More<br>
            Orgasms Than Women.<br>
            2 days    
             </a>
        </p>

        <a href="more news">See More News.</a>
    </div>

    <div class="today">
        <h style="font-family: 'Times New Roman', Times, serif;font-size: 27px;color: rgb(214, 101, 39);">Today's Essential Reads.</h>
        <br>
        <br>
        <div class="change1">
         <img src="/static/img/mental health images/fake.png" alt="nothin'" width="200" height="100">
         <h id="h1"><a href="unknown">8 Destructive Myths About Friendship</a></h1>
        <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Persistent misconceptions about friendship don't help anybody.<br> Here are eight myths that need to be debunked</p>
        </div>
        <br>
        <div class="change2">
            <img src="/static/img/mental health images/restoring.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Super Bowl Ad Nostalgia May Point the Way to Restoring<br> 
                Trust.</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Pandemic-era pop culture has been suffused with nostalgia. Here's why.</p>
           </div>
           <br>
           <div class="change3">
            <img src="/static/img/mental health images/con artist.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Think You Couldn't Be Duped By a Con Artist? Think Again.</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">The Netflix documentary "The Tinder Swindler" has captivated audiences<br> 
            with its boldness, manipulation, and deception..</p>
           </div>
           <br>
           <div class="change4">
            <img src="/static/img/mental health images/sexual.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Why We Struggle With Sexual Initiation, and How to Fix It</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Many people want to initiate sex more often, or they want their partners<br> 
            to initiate more often. Here are four ways to make sexual initiation easier.</p>
           </div>
           <br>
           <div class="change5">
            <img src="/static/img/mental health images/identity.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Identity Politics and Victim Narratives</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">A Personal Perspective: When division takes the dangerous form of identity<br> 
            politics and “victim narratives,” our beliefs not only get in the way of thinking<br> clearly, they get in the way of real change.</p>
           </div>
           <br>
           <div class="change6">
            <img src="/static/img/mental health images/sentient.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Sentient: How Animals Illuminate the Wonder of Our Senses</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">A fascinating new book explores the extraordinary sensory capacities<br> 
            of 13 nonhumans and explains how they (and we) make sense of the world.</p>
           </div>
           <br>
           <div class="change7">
            <img src="/static/img/mental health images/dialect.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">The New Faces of Dialectical Behavioral Therapy</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Have you ever wondered what it's like being a newer DBT therapist in 2022?<br> 
            Mary Tobon explains.</p>
           </div>
           <br>
           <div class="change8">
            <img src="/static/img/mental health images/encanto.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Encanto: An Important Movie about Family </a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">The movie Encanto highlights so many familial struggles in a captivating way. </p>
           </div>
           <br>
           <div class="change9">
            <img src="/static/img/mental health images/research.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Researchers Need Community Partners to Create Lasting<br> Initiatives</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Multi-sector partnerships are critical for designing and implementing<br> 
            effective and sustainable psychological interventions.</p>
           </div>
           <br>
           <br>
           <div class="change10">
            <img src="/static/img/mental health images/marriage.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">The Ongoing Struggle to Create a Marriage of Equals</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Why it's hard to change gender-based ideas in marriages between men and<br> 
            women.</p>
           </div>
           <br>
           <div class="change11">
            <img src="/static/img/mental health images/lonliness.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">The Link Between Chronic Illness and Loneliness.</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Chronic illness can interrupt connection, causing loneliness.<br> 
            Learn how to identify and mitigate this painful experience.</p>
           </div>
           <br>
           <div class="change11">
            <img src="/static/img/mental health images/anger.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Anger Management Takes More Than Coping Skills</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Ever wonder why some people's anger continues to seethe, despite all<br> 
            their anger management programming? There's likely more than anger at hand.</p>
           </div>
           <br>
           <div class="change11">
            <img src="/static/img/mental health images/paranormal.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Are Paranormal Beliefs a Result of Lazy Thinking?</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">A new study suggests that the correlation observed in the West between<br> 
            low Cognitive Reflection Test scores and paranormal belief is culturally<br> mediated, not directly causal.</p>
           </div>
           <br>
           <div class="change11">
            <img src="/static/img/mental health images/selfperception.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Self-Perception Doesn't Predict Readiness to Drive After<br> 
            Cannabis Use</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Perceptions of when impairment ends after getting high are often inaccurate.<br> 
            Here's what the science says.</p>
           </div>
           <br>
           <div class="change11">
            <img src="/static/img/mental health images/social media.png" alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">5 Ways to Help Teen Girls Manage Social Media</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Worried you can't keep your teen safe on social media? These five<br> 
            strategies require no tech skills.</p>
           </div>
           <br>
           <div class="change11">
            <img src="/static/img/mental health images/genetics.png " alt="nothin'" width="200" height="100">
            <h id="h1"><a href="unknown">Can Genetics Help Predict Depression After a Major<br> 
            Stressor?</a></h1>
           <p style="font-family: 'Times New Roman', Times, serif;font-size: 22px;">Individuals fall into one of four patterns of depressive symptoms following a<br> major stressor. Genetics may help predict which pattern an individual will<br> follow.</p>
           </div>



    </div>
</body>
</html>